body {
  min-width: 1200px;

  font-family: "Gilroy", "sans-serif", "Arial";

  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;

}
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
input::-webkit-input-placeholder {
  opacity: 1;
}

input:-moz-placeholder {
  opacity: 1;
}

input:-ms-input-placeholder {
  opacity: 1;
}
input:-o-input-placeholder {
  opacity: 1;
}
