.page-header__wrapper {
  background-color: $bg-yellow;
  padding-left: 60px;
  padding-right: 60px;
}
.page-header__user-navigation {
  display: flex;
  width: 1040px;
}
.page-header__user-block {
  display: flex;
  justify-content: flex-end;
  width: 500px;
}
.page-header__logo {
  position: relative;
  top: -30px;
}
.page-header__main-menu {
  padding-bottom: 170px;
}
