.page-main {
  @mixin clearfix;
}
.page-main__wrapper {
  display: flex;
}

.page-main__about {
  width: 500px;
}
.page-main__contacts {
  width: 600px;
}
.page-main__catalog-wrapper {
  float: right;
  width: 760px;
}
.page-main__sliders {
  position: relative;
  top: -80px;
}
.page-main__slider {
  margin-left: 90px;
}
